
#content{
    margin-left: 410px;
	padding: 20px 20px 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
#content.expand {
    margin-left: 35px;
}

/**** CSS FOR WELCOME PAGE ******/
#content .intro{
    color: white;
    position: relative;
    top: 30%;
}

#content .intro-name{
    font-size: 3em;
    font-weight: 700;
}

#content .intro-description{
    font-size: 1.65em;
    font-weight: 300;
}

#content .intro-description strong{
    font-weight: 500;
}
#content.daymode .intro{
    color: rgb(66, 66, 66);
}

/**** CSS FOR ABOUT PAGE ******/
#content .about-wrapper{
    display: flex;
    width: 100%;
    color: white;
}
#content.daymode .about-wrapper{
    transition: all 0.3s;
    color: #3f3f3f;
}
#content .about{
    display: inline-block;
}
#content .about .about-image{
    height: 95vh;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
#content .about .about-image img{
    min-width: 300px;
    width: 35vw;
    min-height: 600px;
    max-width: 600px;
    max-height: 100%;
    display: block;
    margin: 0 0 0 auto;
    object-fit: contain;
}
#content .about-description{
    display: block;
    margin: auto 0 auto 20px;
}
#content .about-header{
    font-size: 2.75em;
    font-weight: 700;
    letter-spacing: 3px;
}
#content .about-bio{
    letter-spacing: 1px;
    font-weight: 300;
    padding-top: 5px;
}
#content.daymode .about-bio{
    font-weight: 400;
}
#content .about-bio a{
    color: 	rgb(181, 211, 29);
}
#content.daymode .about-bio a{
    color: rgb(48, 59, 223);
}

/**** CSS FOR PORTFOLIO PAGES ******/
#content .portfolio{
    color: white;
}
#content .timeline-title{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 5px;
}
#content .timeline-title-description{
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
}
#content .timeline{
    display: block;
    margin-left: 140px;
}

#content .timeline ul{
    list-style-type: none;
}
#content .tl-element{
    position: relative;
    width: 96%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #707070;
    margin-right: 20px;
    display: inline-block;
}
#content .tl-element::after{
    content: '';
    width: 1px;
    height: 100%;
    background: #707070;
    position: absolute;
    left: -35px;
    top: 20px;
}
#content .block-info{
    display: flex;
}
#content .element-date{
    display: inline-block;
    color: #dddddd;
    text-align: right;
    width: 129px;
    position: absolute;
    font-style: italic;
    font-weight: 300;
    left: -180px;
    top: 35px;
}
#content .element-date::after{
    content: '';
    width: 5px;
    height: 5px;
    background: cyan;
    position: absolute;
    left: 143px;
    top: 8px;
    z-index: 99;
}
#content .element-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3em;
    
}
#content .element-subtitle{
    font-weight: 400;
    padding-bottom: 15px;
    font-size: 1.1em;
}
#content .element-description{
    font-weight: 300;
}
#content .element-description a{
    color: rgb(181, 211, 29);
}
#content .element-technologies{
    padding-top: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
}
#content .technologies-title{
    font-weight: 500;
    padding-bottom: 5px;
}
#content .element-technologies table{
    display: block;
}
#content .element-technologies table td{
    display: inline-block;
    margin-bottom: 5px;
}
#content .element-technologies table td a{
    color: rgba(233,233,233,0.85);
    font-size: 0.9em;
    padding: 4px 10px;
    background: rgba(18,18,18,0.4);
    text-align: center;
    margin-right: 10px;
    font-weight: 500;
}
#content .element-technologies table td a:hover{
    color: white;
}
#content .element-img{
    display: inline-block;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;

}
#content .element-img img{
    padding-left: 30px;
    min-width: 300px;
    width: 25vw;
    max-height: 100%;
    padding-bottom: 10px;
}

/* WINDOW RESIZE SETTINGS */
@media (max-width: 567px) {
    #content{
        margin-left: 0px;
    }
    #content .about-wrapper{
        display: inline-block;
    }
    #content .about{
        display: block;
        height: auto;
    }
    #content .about-image{
        height: auto !important;
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }
    #content .about .about-image img{
        width: 90vw;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    #content .about-description{
        padding-top: 10px;
        margin: 0;
    }
    #content .timeline{
        margin-left: 0;
    }
    #content .timeline ul{
        padding: 0;
    }
    #content .timeline-title-description{
        width: 96%;
        border-bottom: 1px dashed #707070;
    }
    #content .block-info{
        display: inline-block;
        margin-right: 0;
    }
    #content .tl-element::after{
        display: none;
    }
    #content .element-date::after{
        display: none;
    }
    #content .element-date{
        position: relative;
        text-align: left;
        left: 0;
        top: 0;
    }
    #content .element-img{
        padding-top: 30px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #content .element-img img{
        padding-left: 0px;
        width: 100%;
    }

}
@media (min-width: 568px) and (max-width: 950px) {
    #content {
        margin-left: 0px;
    }
    #content.expand {
        margin-left: 410px;
        width: 100%;
    }
    #content .about-wrapper{
        display: inline-block;
    }
    #content .about{
        display: block;
        height: auto;
    }
    #content .about-image{
        height: auto !important;
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }
    #content .about .about-image img{
        width: 90vw;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    #content .about-description{
        padding-top: 10px;
        margin: 0;
    }
    #content .timeline-title{
        margin-top: 0px;
    }
    #content .block-info{
        display: inline-block;
        margin-right: 0;
    }
    #content .element-img{
        padding-top: 30px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #content .element-img img{
        padding-left: 0px;
        width: 100%;
    }

}