
#content{
    margin-left: 410px;
	padding: 20px 20px 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
#content.expand {
    margin-left: 35px;
}

/**** CSS FOR WELCOME PAGE ******/
#content .intro{
    color: white;
    position: relative;
    top: 30%;
}

#content .intro-name{
    font-size: 3em;
    font-weight: 700;
}

#content .intro-description{
    font-size: 1.65em;
    font-weight: 300;
}

#content .intro-description strong{
    font-weight: 500;
}
/* CSS for DAYMODE WELCOME PAGE */
#content.daymode .intro{
    color: rgb(66, 66, 66);
}

/**** CSS FOR ABOUT PAGE ******/
#content .about-wrapper{
    display: flex;
    width: 100%;
    color: white;
}
#content.daymode .about-wrapper{
    transition: all 0.3s;
    color: #3f3f3f;
}
#content .about{
    display: inline-block;
}
#content .about .about-image{
    height: 95vh;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
#content .about .about-image img{
    min-width: 300px;
    width: 35vw;
    min-height: 600px;
    max-width: 600px;
    max-height: 100%;
    display: block;
    margin: 0 0 0 auto;
    object-fit: contain;
}
#content .about-description{
    display: block;
    margin: auto 0 auto 20px;
}
#content .about-header{
    font-size: 2.75em;
    font-weight: 700;
    letter-spacing: 3px;
}
#content .about-bio{
    letter-spacing: 1px;
    font-weight: 300;
    padding-top: 5px;
}
#content.daymode .about-bio{
    font-weight: 400;
}
#content .about-bio a{
    color: 	rgb(181, 211, 29);
}
#content.daymode .about-bio a{
    color: rgb(48, 59, 223);
}


/* WINDOW RESIZE SETTINGS */
@media (max-width: 768px) {
    #content {
        margin-left: 0px;
    }
    #content.expand {
        margin-left: 410px;
        width: 100%;
    }
    #content .about-wrapper{
        display: inline-block;
    }
    #content .about{
        display: block;
        height: auto;
    }
    #content .about-image{
        height: auto !important;
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }
    #content .about .about-image img{
        width: 90vw;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    #content .about-description{
        padding-top: 10px;
        margin: 0;
    }
}