@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    min-height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 375;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/
#sidebar.active {
    margin-left: -375px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 375px;
    max-width: 375px;
    position: fixed;
    height: 100%;
    background: #121212;
    color: white;
    transition: all 0.3s;
    -moz-box-shadow:    1px 1px 3px 0 #555;
    -webkit-box-shadow: 1px 1px 3px 0 #555;
    box-shadow:         1px 1px 3px 0 #555;
    
}
#sidebar ul{
    width: 100%;
    list-style: none;
}

#sidebar .sidebar-header{
    padding: 30px 30px 5px 30px;
    text-align: center;
    letter-spacing: 4px; 
    font-weight: 600;  
    font-size: 1.45em;
    text-transform: uppercase;
    
}
#sidebar .sidebar-button{
    padding-top: 10px;
}

#sidebar .sidebar-avatar img{
    text-align: center;
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#sidebar .sidebar-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px; 
    font-weight: 100; 
    padding-bottom: 50px;
}

#sidebar ul.components{
    padding: 0px;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
    position: relative;
    color: #aaaaaa;
    text-decoration: none;
    font-size: 0.9em;
    padding: 7px 0px 7px 20px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#sidebar ul ul li{
    border-bottom: none;
    margin-left: -40px;
}
#sidebar .sidebar-icons{
    color: #aaaaaa;
    padding: 25px;
}

#sidebar ul li a:hover{
    color: white;
    background: #1b1b1b;
    border-left-color: cyan;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #ffffff;
    background: #121212;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
    position: absolute;
	top: 50%;
	right: 10%;
    transform: translateY(-50%);
    transition: all 0.3s;
}
.dropdown-toggle[aria-expanded="true"]::after{
    transform: translateY(-50%) rotate(-180deg);
}
ul ul a{
    font-size: 0.9em !important;
    padding-left: 85px !important;
    background: #161616;
}
.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #121212;
    color: white;
    border-color: #121212;
    margin-left: 373px;
    border-radius: 0px 7px 7px 0px;
    box-shadow: 4px 0 5px -2px #888;
    
}

#content{
    margin-left: 410px;
	padding: 20px 20px 20px 20px;
	min-height: 100vh;
    transition: all 0.3s;
}
#content.expand {
    margin-left: 35px;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -375px;
    }
    #sidebar.active {
        margin-left: 0;
        width: 100%;
    }
    #content {
        margin-left: 35px;
    }
    #content.expand {
        margin-left: 410px;
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}
@media (max-height: 600px) {
    #sidebar {
        margin-left: -375px;
    }
    #sidebar.active {
        margin-left: 0;
        width: 100%;
    }
    #content {
        margin-left: 35px;
    }
    #content.expand {
        margin-left: 410px;
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}
